body {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

h1, h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 114px;
  background-color: #88d17e;
}

.container {
  width: 1200px;
  min-height: 104px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #7c98ca;
}

.header-logo {
  float: left;
  margin-left: 20px;
  margin-right: 30px;
  background-color: #77dfeb;
}

.main-navigation {
  float: left;
  width: 676px;
  min-height: 64px;
  margin-right: 26px;
  background-color: #77dfeb;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu .sub-menu {
  display: none;
}

.user-block {
  float: right;
  width: 267px;
  min-height: 64px;
  margin-right: 27px;
  background-color: #77dfeb;
}

.search-form {
  display: none;
}

.login-form {
  display: none;
}

.mode {
  width: 151px;
  margin-left: auto;
  margin-right: 27px;
  background-color: #cdf3f6;
}

.phone {
  width: 166px;
  margin-left: auto;
  margin-right: 27px;
  background-color: #7cecf6;
}

/*Второй и третий слайдеры скрыты временно, разобраться по https://htmlacademy.ru/courses/76/run/20 */

.slide-first {
  width: 665px;
  min-height: 584px;
  margin: 0 auto;
  margin-top: -40px;
  background-color: #f1f097;
}

.slide-second {
  display: none;
}

.slide-third {
  display: none;
}

.promo {
  width: 1146px;
  min-height: 229px;
  padding: 0 27px;
  margin-bottom: 40px;
  background-color: #ee6b8a;
}

.promo-jam {
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  border-radius: 15px;
  background: url("../img/jam.jpg") no-repeat;
}

.promo-chocolate {
  float: right;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  background: url("../img/chocolate.jpg") no-repeat;
}

.popular {
  width: 1146px;
  min-height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #7af5d4;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 267px;
  vertical-align: top;
  margin-right: 26px;
  background-color: #fbde98;
  font-size: 16px;
}

.catalog-item:last-child {
  margin-right: 0;
}

.catalog-item figure {
  width: 267px;
  margin: 0;
}

.catalog-item img {
  border-radius: 50%;
}

.feature {
  width: 1106px;
  min-height: 247px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 20px;
  border-radius: 15px;
  background: url("../img/wafer.jpg") repeat;
}

.posts {
  width: 1146px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 1px;
  background-color: #af78ce;
}

.posts-new {
  float: left;
  width: 520px;
  min-height: 160px;
  padding: 30px 20px;
  margin-right: 26px;
  border-radius: 15px;
  color: #323232;
  background: url("../img/post-strawberry.jpg") no-repeat;
}


.delivery-border {
  position: relative;
  float: right;
  width: 560px;
  min-height: 220px;
  background: url("../img/post.png") repeat;
  border-radius: 15px;
}

/*Через border-image и паттерн не получилось, мозможно стоит сохранить почтовое изображение полностью. Рамка не выравнивается по вертикали, переделать!!!*/

.delivery {
  position: absolute;
  width: 504px;
  min-height: 140px;
  top: 7px;
  left: 7px;
  margin: auto;
  padding: 33px 21px;
  background-color: #ffffff;
  color: #5a5a5a;
  border-radius: 10px;
}

.feedback {
  display: none;
}

.map-and-contacts {
  width: 1200px;
  height: 430px;
  background-color: chartreuse;
}

.map {
  position: relative;
}

.contacts {
  position: absolute;
  width: 236px;
  min-height: 253px;
  right: 27px;
  top: 63px;
  padding: 33px 26px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #323232;
}

.main-footer {
  margin-top: 20px;
  background-color: darkturquoise;
  padding-bottom: 26px;
}

.footer-social {
  float: left;
  width: 267px;
  min-height: 60px;
  margin-left: 27px;
  margin-right: 26px;
  background-color: cornsilk;
}

.footer-links {
  float: left;
  width: 560px;
  min-height: 60px;
  margin-right: 26px;
  background-color: cornsilk;
}

.footer-copyright {
  float: right;
  width: 267px;
  min-height: 60px;
  background-color: cornsilk;
}
