body {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

h1, h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  margin-left: 27px;
  margin-top: 0;
  margin-bottom: 35px;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 114px;
  background-color: #88d17e;
}

.container {
  width: 1200px;
  min-height: 104px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #7c98ca;
}

.header-logo {
  float: left;
  margin-left: 20px;
  margin-right: 16px;
  background-color: #77dfeb;
}

.main-navigation {
  float: left;
  width: 676px;
  min-height: 64px;
  margin-right: 26px;
  background-color: #77dfeb;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  margin-right: 1px;
  margin-top: 14px;
  white-space: nowrap;
}

.main-menu a {
  display: block;
  padding: 8px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}

.main-menu .sub-menu {
  position: absolute;
  display: none;
  left: -7px;
  top: 37px;
  width: 142px;
  min-height: 171px;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}


.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  padding: 8px 20px;
}

.sub-menu .new {
  font-weight: bold;
  margin-bottom: 10px;
}

.main-menu a:hover {
  border-radius: 14px;
  background: #f7f6f3;
  color: #333333;
}

.main-menu > li:hover .sub-menu {
  display: block;
}

.sub-menu a:hover {
  background: #fbded7;
}

.user-block {
  float: right;
  width: 267px;
  min-height: 64px;
  margin-right: 27px;
  background-color: #77dfeb;
}

.search-form {
  display: none;
}

.login-form {
  display: none;
}

.basket-full {
  display: none;
}

.mode {
  width: 151px;
  margin-left: auto;
  margin-right: 27px;
  background-color: #cdf3f6;
}

.phone {
  width: 166px;
  margin-left: auto;
  margin-right: 27px;
  background-color: #7cecf6;
}

/*Выполнено отображение первого слайда, переходы между слайдами не работают*/

.slider {
  width: 1200px;
  min-height: 582px;
  margin-top: -40px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-slides {
  position: relative;
  width: 300%;
  background-color: burlywood;
}

.slider-inner {
  overflow: hidden;
}

/*
.slider figcaption {
  position: absolute;
  width: 670px;
  top: 310px;
  left: 269px;
  font-size: 60px;
  font-weight: bold;
}
*/

.slide-first, .slide-second, .slide-third {
  float: left;
  width: 1200px;
  background-color: #f1f097;
}

.slide-first figure {
  width: 670px;
  font-size: 60px;
  font-weight: bold;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.slider-controls label {
  display: inline-block;
  position: absolute;
  top: 481px;
  left: 36px;
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.8);
  margin: 0 8px;
  cursor: pointer;
  background-color: #849d8f;
}

#first:checked ~ .slider-controls label[for="first"], #second:checked ~ .slider-controls label[for="second"], #third:checked ~ .slider-controls label[for="third"] {
  background-color: #ffffff;
}

.promo {
  width: 1146px;
  min-height: 229px;
  padding: 0 27px;
  margin-bottom: 40px;
  background-color: #ee6b8a;
}

.promo-jam {
  float: left;
  width: 560px;
  min-height: 229px;
  margin-right: 26px;
  border-radius: 15px;
  background: #c52b51 url("../img/jam.jpg") no-repeat;
}

.promo-chocolate {
  float: right;
  width: 560px;
  min-height: 229px;
  border-radius: 15px;
  background: #4f2d1c url("../img/chocolate.jpg") no-repeat;
}

.breadcrumbs {
  width: 560px;
  min-height: 16px;
  margin-top: -14px;
  margin-left: 27px;
  margin-bottom: 10px;
  background-color: coral;
}

.filters {
  width: 1146px;
  min-height: 132px;
  margin: 0 auto;
  background-color: darkgray;
  margin-bottom: 35px;
}

.fatness {
  width: 417px;
}

.fillers {
  width: 703px;
}

.popular {
  width: 1172px;
  min-height: 300px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #7af5d4;
  font-size: 0;
}

.catalog {
  width: 1172px;
  min-height: 1050px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #7af5d4;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  width: 267px;
  min-height: 362px;
  vertical-align: top;
  padding-top: 6px;
  padding-left: 13px;
  padding-bottom: 35px;
  padding-right: 13px;
  background-color: #fbde98;
  font-size: 16px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item figure {
  width: 267px;
  margin: 0;
}

.catalog-item img {
  border-radius: 50%;
}

.paginator {
  width: 190px;
  min-height: 27px;
  margin-left: auto;
  margin-right: 27px;
  background-color: darkseagreen;
}

.feature {
  width: 1106px;
  min-height: 247px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 20px;
  border-radius: 15px;
  background: #ead8b5 url("../img/wafer.jpg") repeat;
}

.posts {
  width: 1146px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 1px;
  background-color: #af78ce;
}

.posts-new {
  float: left;
  width: 520px;
  min-height: 160px;
  padding: 30px 20px;
  margin-right: 26px;
  border-radius: 15px;
  color: #323232;
  background: #ffffff url("../img/post-strawberry.jpg") no-repeat;
}


.delivery-border {
  position: relative;
  float: right;
  width: 560px;
  min-height: 220px;
  background: #ffffff url("../img/post.png") repeat;
  border-radius: 15px;
}

.delivery {
  position: absolute;
  width: 504px;
  min-height: 140px;
  top: 7px;
  left: 7px;
  margin: auto;
  padding: 33px 21px;
  background-color: #ffffff;
  color: #5a5a5a;
  border-radius: 10px;
}

.feedback {
  display: none;
}

.map-and-contacts {
  width: 1200px;
  height: 430px;
  background-color: chartreuse;
}

.map {
  position: relative;
}

.contacts {
  position: absolute;
  width: 236px;
  min-height: 253px;
  right: 27px;
  top: 63px;
  padding: 33px 26px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #323232;
}

.main-footer {
  margin-top: 20px;
  background-color: darkturquoise;
  padding-bottom: 26px;
}

.footer-social {
  float: left;
  width: 266px;
  min-height: 60px;
  margin-left: 28px;
  margin-right: 26px;
  padding-top: 17px;
  background-color: #849d8f;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-btn-tw {
  background: url("../img/twitter.svg") no-repeat;
}

.social-btn-in {
  background: url("../img/instagram.svg") no-repeat;
}

.social-btn-fb {
  background: url("../img/facebook.svg") no-repeat;
}

.social-btn-vk {
  background: url("../img/vkontakte.svg") no-repeat;
}

.footer-links {
  float: left;
  width: 560px;
  min-height: 60px;
  margin-right: 26px;
  background-color: cornsilk;
}

.footer-copyright {
  float: right;
  width: 267px;
  min-height: 60px;
  margin-right: 27px;
  background-color: cornsilk;
}
