@font-face {
  font-family: "Roboto";
  src:
    local("Roboto-Regular"),
    url("../fonts/roboto.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto-Medium";
  src:
    local("Roboto-Medium"),
    url("../fonts/robotomedium.woff2") format("woff2");
}

body {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 900px;
  min-height: 2416px;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before {
  background-image: url("../img/ice-slide-second.png");
}

.site-wrapper:after {
  background-image: url("../img/ice-slide-third.png");
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  text-align: center;
  padding-top: 308px;
  margin-bottom: 30px;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto 30px auto;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.slide-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  vertical-align: middle;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(61, 61, 46, 0.34), 0 2px 5px rgba(160, 32, 11, 0.76);
  padding: 10px 41px;
  border-radius: 50px;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22px;
  left: 27px;
  z-index: 20;
  font-size: 0px;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 2 0 rgba(0, 0, 0, 0.8);
  margin-right: 8px;
  cursor: pointer;
  background-color: transparent;
}

.slider-controls label:hover {
  background: rgba(248, 247, 244, 0.4);
}

#first:checked ~ .site-wrapper #slide-first,
#second:checked ~ .site-wrapper #slide-second,
#third:checked ~ .site-wrapper #slide-third {
  display: block;
}

#first:checked ~ .site-wrapper {
   background: #849d8f url("../img/ice-slide-first.png") no-repeat top center;
}

#second:checked ~ .site-wrapper {
  background: #8996a6 url("../img/ice-slide-second.png") no-repeat top center;
}

#third:checked ~ .site-wrapper {
   background: #9d8b84 url("../img/ice-slide-third.png") no-repeat top center;
}

#first:checked ~ .site-wrapper label[for="first"],
#second:checked ~ .site-wrapper label[for="second"],
#third:checked ~ .site-wrapper label[for="third"] {
  background-color: #ffffff;
}

h1, h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: normal;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  min-height: 74px;
}

.container {
  position: relative;
  width: 1200px;
  min-height: 74px;
  margin: 0 auto;
  padding-top: 10px;
}

.header-logo {
  float: left;
  margin-left: 20px;
  margin-right: 16px;
}

.main-navigation {
  float: left;
  width: 676px;
  min-height: 64px;
  margin-right: 26px;
}

.main-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  margin-top: 12px;
  white-space: nowrap;
}

.main-menu a {
  display: block;
  padding: 8px 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.main-menu a::after {
  content: "";
  position: absolute;
  height: 1px;
  left:14px;
  right:14px;
  bottom: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper-sub-menu {
  position: absolute;
  display: none;
  left:-7px;
  width: 142px;
  min-height: 176px;

}

.main-menu .sub-menu {
  position: absolute;
  left: -7px;
  top: 5px;
  width: 142px;
  min-height: 171px;
  z-index: 100;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.sub-menu a {
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0;
  color: #323232;
  text-decoration: none;
  font-weight: normal;
  padding: 8px 20px;
}

.sub-menu .new {
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-menu .new::after {
  position: absolute;
  top: 38px;
  left: 6px;
  content: "";
  width: 128px;
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}

.main-menu a:hover {
  border-radius: 14px;
  background: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-menu a:active {
  border-radius: 14px;
  background: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
  text-decoration: none;
}

.main-menu a.active {
  border-radius: 14px;
  text-decoration: none;
  background: #d07058;
}

.main-menu a.active::after {
  display: none;
}

.main-menu > li:hover .wrapper-sub-menu {
  display: block;
}

.sub-menu a:hover {
  background: #fbded7;
  border-radius: 0;
}

.sub-menu a:active {
  background: #f6b5a5;
  border-radius: 0;
}

.sub-menu a.active {
  background: #d07058;
  border-radius: 0;
  color: #ffffff;
}

.user-block {
  float: right;
  width: 267px;
  min-height: 64px;
  margin-right: 27px;
  font-size: 0;
}

.search {
  position: relative;
  display: inline-block;
  width: 32px;
  padding: 0;
  height: 32px;
  margin: 13px 5px;
  vertical-align: top;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.search:before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: url("../img/loupe.svg");
}

.wrapper-search-form {
  position: absolute;
  display: none;
  min-height: 88px;
  width: 341px;
  top: 100%;
  right: 0;
}

.search-form {
  position: absolute;
  min-height: 84px;
  width: 341px;
  top: 4px;
  right: 0;
  z-index: 50;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.search-form input[type="search"] {
  width: 310px;
  height: 44px;
  margin: 20px 15px;
  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  font-size: 16px;
  line-height: 24px;
  vertical-align: middle;
  padding: 0 15px;
  color: #323232;
}

.search:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #323232;
}

.search:hover::before {
  content: url("../img/loupe-dark.svg");
}

.search:hover .wrapper-search-form {
  display: block;
}

.search-form input[type="search"]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  border-radius: 5px;
  margin-left: 14px;
}

.login {
  position: relative;
  width: 32px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: inline-block;
  margin: 13px 5px;
  padding: 8px 16px 8px 44px;
  vertical-align: top;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.login::before {
  position: absolute;
  top: 6px;
  left: 16px;
  content: url("../img/login.svg");
}

.wrapper-login-form {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: 277px;
  min-height: 218px;
}

.login-form {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 50;
  width: 241px;
  min-height: 174px;
  padding: 20px 17px 20px 19px;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.login-form input[type="email"], .login-form input[type="password"] {
  width: 205px;
  height: 44px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  vertical-align: middle;
  padding: 0 15px;
}

.login-form a {
  float: left;
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.login-form .btn {
  float: left;
  margin-right: 20px;
  font-size: 18px;
  color: #ffffff;
}

.login:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #323232;
}

.user-block .login:hover::before {
  content: url("../img/login-dark.svg");
}

.login:hover .wrapper-login-form {
  display: block;
}

.basket {
  position: relative;
  display: inline-block;
  width: 57px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 44px;
  position: relative;
  display: inline-block;
  margin: 13px 0 13px 5px;
  padding: 8px 16px 8px 44px;
  vertical-align: top;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket::before {
  position: absolute;
  top: 6px;
  left: 16px;
  content: url("../img/basket.svg");
  padding-right: 9px;
}

.basket-full {
  background: #f8f7f4;
  color: #323232;
}

.basket-full:before {
  content: url("../img/basket-dark.svg");
  background: url("../img/basket-full.png") no-repeat 30% 25%;
}

.wrapper-basket-form {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  width: 540px;
  min-height: 246px;
}

.basket-form {
  position: absolute;
  top: 4px;
  right: 0;
  z-index: 50;
  width: 510px;
  min-height: 202px;
  border-radius: 5px;
  background: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
}

.basket-product {
  border-spacing: 0px;
  position: relative;
}

.basket-product tr {
  height: 53px;
}

.basket-product td {
  font-size: 13px;
  line-height: 16px;
  color: #333333;
  vertical-align: top;
  padding: 10px 15px 0 15px;
}

.basket-product td:first-child {
  position: relative;
  padding-left: 73px;
  width: 217px;
}

.basket-product td:first-child::before {
  content: url("../img/basket-x.svg");
  position: absolute;
  left: 2px;
  top: 10px;
}

.basket-product tr:last-child td:first-child::before {
  display: none;
}

.basket-product tr:nth-child(1) td:first-child::after{
  content: url("../img/basket-ice-1.png");
  position: absolute;
  top: 0;
  left: 26px;
}

.basket-product tr:nth-child(2) td:first-child::after{
  content: url("../img/basket-ice-2.png");
  position: absolute;
  top: 0;
  left: 26px;
}

.basket-product td:nth-child(2) span {
  color: #999999;
}

.basket-product tr:last-child::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 100%;
  height: 1px;
  background-color: #cacac7;
}

.basket-product tr:last-child td {
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 20px;
}

.basket-form .btn {
  float: right;
}

.basket:hover::before {
  content: url("../img/basket-dark.svg");
}

.basket:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #323232;
}

.basket-full:hover .wrapper-basket-form {
  display: block;
}

.mode {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: 151px;
  margin-left: auto;
  margin-right: 27px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  z-index: 40
}

.phone {
  position: absolute;
  right: 0;
  bottom: -33px;
  width: 167px;
  margin-left: auto;
  margin-right: 27px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  z-index: 30;
}

.promo {
  width: 1146px;
  min-height: 229px;
  padding: 0 27px;
  margin-bottom: 40px;
}

.promo-jam {
  float: left;
  position: relative;
  width: 524px;
  min-height: 195px;
  margin-right: 26px;
  padding: 17px 18px;
  border-radius: 15px;
  background: #c52b51 url("../img/jam.jpg") no-repeat;
}

.promo-chocolate {
  float: right;
  position: relative;
  width: 524px;
  min-height: 195px;
  padding: 17px 18px;
  border-radius: 15px;
  background: #4f2d1c url("../img/chocolate.jpg") no-repeat;
}

.promo p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  width: 515px;
}

.promo-btn {
  position: absolute;
  height: 46px;
  float: right;
  right: 21px;
  bottom: 23px;
}

.btn {
  display: block;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  padding: 11px 23px;
  border-radius: 23px;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 1px 2px 0.0 rgba(172, 16, 0, 1);
}

.btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px 0 rgba(172, 16, 0, 1);
}

.breadcrumbs {
  display: inline-block;
  width: 560px;
  min-height: 16px;
  margin: 6px 0 0 27px;
}

.breadcrumbs a {
  position: relative;
  float: left;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding-right: 22px;
}

.breadcrumbs a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 22px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.breadcrumbs a::after {
  position: absolute;
  content: "»";
  top: 0;
  right: 8px;
  width: 6px;
  height: 6px;
}

.breadcrumbs .current::before, .breadcrumbs .current::after {
  display: none;
}

.breadcrumbs a:hover {
  color: #ffbc9e;
}

.breadcrumbs a:hover::before {
  background-color: rgba(249, 172, 159, 0.3);
}

.breadcrumbs a:hover::after {
  color: #ffffff;
}

.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs a:active::before {
  background-color: rgba(249, 172, 159, 0.3);
}

.breadcrumbs a:active::after {
  color: #ffffff;
}

.head {
  margin: 0 0 10px 27px;
}

.filters {
  width: 1146px;
  min-height: 132px;
  margin: 0 auto 50px auto;
}

.sorting {
  width: 193px;
  min-height: 57px;
  float: left;
  margin: 16px 16px 0 0;
}

.sorting label {
  margin-left: 16px;
}

select {
  width: 193px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 0 16px;
  margin-top: 8px;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.2) url(../img/select-arrow.svg) no-repeat 90% center;
}

select:hover {
  background: rgba(255, 255, 255, 1) url(../img/select-arrow-dark.svg) no-repeat 90% center;
  color: #323232;
}

.filter-price {
  float: left;
  width: 218px;
  min-height: 57px;
  margin: 16px 14px 0 0;
}

.price-controls {
  font-size: 0;
  margin-bottom: 8px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin-left: 14px;
}

.price-controls input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  width: 23px;
  padding: 0 2px;
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
}

.range-controls {
  position: relative;
  height: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 16px 16px;
}

.range-controls .scale {
  height: 4px;
  background: rgba(248, 247, 244, 0.5);
}

.range-controls .bar {
  width: 50%;
  margin-left: 25px;
  height: 4px;
  background: rgba(248, 247, 244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgba(248, 247, 244, 1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.range-controls .toggle-min {
  left: 22px;
}

.range-controls .toggle-max {
  left: 117px;
}

.fatness {
  float: left;
  width: 415px;
  min-height: 60px;
  margin: 16px 267px 0 0;
}

.fatness-title {
  margin-left: 16px;
}

.fatness-controls {
  width: 383px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  border-radius: 18px;
  padding: 0 16px;
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.2);
}

.fatness-radio {
  position: relative;
  padding: 0 16px 0 30px;
  cursor: pointer;
}

.fatness-controls input[type="radio"] {
  display: none;
}

.fatness-radio::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}

.fatness-controls input[type="radio"]:checked + .fatness-radio::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #f8f7f4;
}

.fatness-radio:hover::before {
  top: -1px;
  left: -1px;
  border: 2px solid #ffffff;
}

input[type="radio"]:disabled .fatness-radio::before, input[type="radio"]:disabled .fatness-radio::after {
  opacity: 0.4;
}

.fillers {
  float: left;
  width: 703px;
  min-height: 57px;
  margin: 16px auto 0 0;
}

.fillers-title {
  margin: 0 0 8px 16px;
}

.fillers-controls {
  width: 671px;
  height: 36px;
  font-size: 16px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.2);
}

.filler-checkbox {
  position: relative;
  padding: 0 20px 0 30px;
  cursor: pointer;
}

.fillers-controls input[type="checkbox"] {
  display: none;
}

.filler-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 3px;
  width: 6px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(225deg);
}

.filler-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 3px;
  right: 6px;
  width: 3px;
  height: 11px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

/* Чек-боксы изменены по демке, все равно галки не проставляются!
.filler-checkbox::before {
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 3px;
  border: 1px solid #ffffff;
}
*/
/*разобраться, почему не протавляется галка при выборе чек-бокса*/

/*
.fillers-controls input[type="checkbox"]:checked + .filler-checkbox::after {
  position: absolute;
  top: -4px;
  left: 0;
  content: "";
  width: 18px;
  height: 18px;
}
*/

.filler-checkbox:hover .checkbox-indicator {
  border: 2px solid #ffffff;
  top: -2px;
  left: -1px;
}

.apply {
  float: left;
  width: 144px;
  min-height: 32px;
  margin: 36px 0 0 13px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  padding: 8px 29px;
  border-radius: 18px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  cursor: pointer;
}

.apply:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.apply:active {
  width: 148px;
  min-height: 36px;
  border: none;
  background-color: #ededed;
  color: #323232;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.popular {
  width: 1172px;
  min-height: 300px;
  margin: 0 auto 6px auto;
  font-size: 0;
}

.catalog {
  width: 1172px;
  min-height: 1050px;
  margin: 0 auto 45px auto;
  font-size: 0;
}

.catalog-item {
  display: inline-block;
  position: relative;
  width: 267px;
  min-height: 324px;
  vertical-align: top;
  padding: 6px 13px 0 13px;
  margin-bottom: 33px;
  font-size: 16px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item figure {
  width: 267px;
  margin: 0;
  text-align: center;
}

.catalog-item figcaption {
  margin: 10px 6px 0 6px;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
}

.catalog-item a.btn {
  display: none;
  font-size: 18px;
  width: 168px;
  margin: 10px auto 17px auto;
}

.catalog-item img {
  border-radius: 50%;
}

.price {
  position: absolute;
  top: 215px;
  left: 13px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.price::before {
  content: url("../img/ruble.png");
  position: absolute;
  left: 80px;
  top: 3px;
}

.price span {
  font-size: 30px;
  line-height: 45px;
}

.popular-item::before {
  content: url("../img/hit.png");
  position: absolute;
  left: 13px;
  top: 6px;
}

.catalog-item:hover {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: -43px;
  z-index: 10;
}

.catalog-item:hover .btn {
  display: block;
}

.paginator {
  width: 190px;
  min-height: 27px;
  margin: 0 27px 0 auto;
  white-space: nowrap;
  font-size: 0;
}

.paginator a {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  margin-right: 4px;
}

.paginator .prev {
  background: url("../img/prev.svg") no-repeat 50% 0;
  margin-right: 7px;
  font-size: 0;
}

.paginator .next {
  background: url("../img/prev.svg") no-repeat 50% 100%;
  transform: rotate(180deg);
  margin-left: 5px;
  font-size: 0;
}

.paginator .current {
  background-color: #ffffff;
  color: #323232;
  border-radius: 50%;
}

.paginator .disabled {
  opacity: 0.2;
}

.paginator a:hover {
  background: #9db1a5;
  border-radius: 50%;
}

.paginator a:active {
  background: #ffffff;
  border-radius: 50%;
  color: #323232;
}

.feature {
  width: 1104px;
  min-height: 261px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 23px 21px;
  border-radius: 15px;
  background: #ead8b5 url("../img/wafer.jpg") repeat;
}

.feature-item {
  position: relative;
  display: block;
  float: left;
  width: 477px;
  min-height: 68px;
  padding: 12px 7px 8px 55px;
}

.feature-item::before {
  content: "";
  position: absolute;
  left:0;
  top: 0;
  width: 49px;
  height: 49px;
}

.feature-item:nth-of-type(1)::before {
  content: url(../img/feature-1.svg);
}

.feature-item:nth-of-type(2)::before {
  content: url(../img/feature-2.svg);
}

.feature-item:nth-of-type(3)::before {
  content: url(../img/feature-3.svg);
}

.feature-item:nth-of-type(4)::before {
  content: url(../img/feature-4.svg);
}

.feature-item:nth-of-type(odd) {
  margin-right: 26px;
}

.feature-item p {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
}

.posts {
  width: 1146px;
  min-height: 220px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 1px;
}

.posts-new {
  float: left;
  width: 520px;
  min-height: 176px;
  padding: 22px 20px;
  margin-right: 26px;
  border-radius: 15px;
  color: #323232;
  background: #ffffff url("../img/post-strawberry.jpg") no-repeat;
}

.posts-new p {
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.post-header {
  margin-top: 5px;
  padding-right: 200px;
}

.post-header a {
  font-weight: bold;
  color: #353535;
}

.post-header a:hover {
  color: #e84d37;
}

.post-header a:active {
  color: #e84d37;
}

.delivery-border {
  position: relative;
  float: right;
  width: 560px;
  min-height: 220px;
  background: #ffffff url("../img/post.png") repeat;
  border-radius: 15px;
}

.delivery {
  position: absolute;
  width: 511px;
  min-height: 154px;
  top: 7px;
  left: 7px;
  margin: auto;
  padding: 27px 20px;
  padding-right: 15px;
  background-color: #f8f7f4;
  color: #5a5a5a;
  border-radius: 10px;
}

.delivery p {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  margin: 0;
}

.form-delivery {
  width: 100%;
  min-height: 47px;
  margin-top: 34px;
  font-size: 0;
}

.form-delivery input[type="email"] {
  display: inline-block;
  width: 340px;
  height: 42px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #d3d3d2;
  vertical-align: middle;
  padding: 0 13px;
  margin-top: 1px;
  vertical-align: top;
}

.form-delivery input[type="submit"] {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  border: none;
  outline: none;
  padding: 11px 20px;
  margin-top: 0;
  margin-left: 10px;
}

.feedback {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -238px;
  margin-top: -221px;
  z-index: 20;
  width: 429px;
  height: 404px;
  border-radius: 15px;
  padding: 19px 25px 19px 23px;
  font-size: 16px;
  line-height: 24px;
  color: #323232;
  background-color: #f8f7f4;
}

.feedback-title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 23px;
}

.feedback-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 17px;
  height: 17px;
  font-size: 0;
  background: url("../img/basket-x.svg") no-repeat 50% 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.feedback-form input, textarea {
  width: 235px;
  height: 12px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  padding: 15px;
}

.feedback-form textarea {
  width: 396px;
  height: 123px;
}

.feedback-form .btn {
  float: right;
  outline: none;
  border: none;
}

.feedback:target {
  display: block;
}

.feedback:target .overlay {
  display: block;
}

.map-and-contacts {
  width: 100%;
  height: 430px;
  background-color: chartreuse;
}

.map {
  position: relative;
  width: 100%;
  height: 430px;
}

.contacts {
  position: absolute;
  width: 252px;
  min-height: 245px;
  top: 63px;
  left: 70%;
  padding: 30px 25px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #323232;
}

.contacts p {
  margin: 0;
  color: #323232;
}

.contacts p:nth-of-type(odd) {
  font-size: 14px;
  line-height: 20px;
  padding-right: 40px;
}

.contacts p:nth-of-type(2) {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 18px;
}

.contacts p:nth-of-type(4) {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 7px;
}

.contacts-btn {
  margin-top: 25px;
}

.contacts-btn a {
  padding-left: 27px;
}

.main-footer {
  width: 1200px;
  margin: 30px auto 0 auto;
  padding-bottom: 26px;
}

.footer-social {
  float: left;
  width: 266px;
  min-height: 60px;
  margin-left: 28px;
  margin-right: 26px;
  padding-top: 9px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 31px;
  height: 31px;
  margin-right: 12px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
}

.social-btn-tw {
  background: url("../img/twitter.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-in {
  background: url("../img/instagram.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-fb {
  background: url("../img/facebook.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-vk {
  background: url("../img/vkontakte.svg") no-repeat;
  opacity: 0.8;
}

.social-btn-tw:hover, .social-btn-in:hover, .social-btn-fb:hover, .social-btn-vk:hover {
  opacity: 1;
  border: 4px solid rgba(255, 255, 255, 0.71);
}

.social-btn-tw:active {
  background: url(../img/twitter-active.svg) no-repeat;
  box-shadow: inset 0 2px 1px 0 #888888;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn-in:active {
  background: url(../img/instagram-active.svg) no-repeat;
  box-shadow: inset 0 2px 1px 0 #888888;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn-fb:active {
  background: url(../img/facebook-active.svg) no-repeat;
  box-shadow: inset 0 2px 1px 0 #888888;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-btn-vk:active {
  background: url(../img/vkontakte-active.svg) no-repeat;
  box-shadow: inset 0 2px 1px 0 #888888;
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.footer-links {
  float: left;
  width: 334px;
  min-height: 60px;
  margin-left: 107px;
  margin-right: 145px;
  margin-top: 6px;
}

.links {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.links::before{
  position: absolute;
  content: url("../img/heart.png");
  top: 3px;
  left: 1px;
}

.links li {
  display: inline-block;
  white-space: nowrap;
  width: 137px;
  padding: 0 0 4px 6px;
}

.links li:nth-child(odd) {
  margin-left: 17px;
}

.links li:first-child {
  font-weight: bold;
}

.links a {
  position: relative;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.links a::after {
  position: absolute;
  content: "";
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.links a:hover {
  color: #ffbc9e;
}

.links a:hover::after {
  background-color: rgba(249, 172, 159, 0.3);
}

.links a:active {
  color: #ffbc9e;
}

.links a:active::after {
  background-color: rgba(249, 172, 159, 0.3);
}

.footer-copyright {
  position: relative;
  bottom: 9px;
  float: right;
  width: 267px;
  min-height: 60px;
  margin-right: 27px;
  margin-top: 0;
}

.copyright-logo {
  margin-left: 80px;
}

.footer-copyright p {
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  margin-top: 1px;
}

.footer-copyright a {
  color: #ffffff;
  text-decoration: none;
}

.footer-copyright a::after {
  position: absolute;
  content: "";
  bottom: 13px;
  left: 140px;
  right: 42px;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.footer-copyright a:hover {
  color: #ffbc9e;
}

.footer-copyright a:hover::after {
  background-color: rgba(249, 172, 159, 0.3);
}

.footer-copyright a:active {
  color: #ffbc9e;
}

.footer-copyright a:active::after {
  background-color: rgba(249, 172, 159, 0.3);
}
